
  <p><%= f.label :name %></p>
  <p> <%= f.text_field :name %>
    
  <p><%= f.label :address %></p>
  <p> <%= f.text_field :address %>

  <p><%= f.label :city %></p>
  <p> <%= f.text_field :city %>
    
  <p><%= f.label :state %></p>
  <p> <%= f.text_field :state %>
    
  <p><%= f.label :zip %></p>
  <p> <%= f.text_field :zip %>
    
  <p><%= f.label :phone %></p>
  <p> <%= f.text_field :phone %>
    
  <p><%= f.label :fax %></p>
  <p> <%= f.text_field :fax %>
    
  <p><%= f.label :email %></p>
  <p><%= f.text_field :email %></p>
