<% @job.tags.build %> 
<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :company_id %>(company id)<br />
    <%= f.text_field :company_id %>
  </div>
  <div class="field">
    <%= f.label :name %>(job name)<br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :contact_phone %><br />
    <%= f.text_field :contact_phone %>
  </div>
  <div class="field">
    <%= f.label :contact_fax %><br />
    <%= f.text_field :contact_fax %>
  </div>
  <div class="field">
    <%= f.label :contact_cell %><br />
    <%= f.text_field :contact_cell %>
  </div>
  <div class="field">
    <%= f.label :contact_email %><br />
    <%= f.text_field :contact_email %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <%= f.hidden_field :url %>
  <h2>Tags</h2>
  <%= render :partial => 'tags/form' %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
