<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @job.name %>
</p>
<p>
  <b>User ID:</b>
  <%= @job.user_id %>  
</p>
<p>
  <b>Company ID:</b>
  <%= @job.company_id %>
</p>
<p>
  <b>Job Name:</b>
  <%= @job.name %>
</p>
<p>
  <b>Contact Phone:</b>
  <%= @job.contact_phone %>
</p>
<p>
  <b>Contact Fax:</b>
  <%= @job.contact_fax %>
</p>
<p>
  <b>Contact Cell:</b>
  <%= @job.contact_cell %>
</p>
<p>
  <b>Contact Email:</b>
  <%= @job.contact_email %>
</p>
<p>
  <b>Description:</b>
  <%= @job.description %>
</p>
<p>
  <b>Resume ID:</b>
  <%= @job.resume_id%><br/>
  Sent? <%= @job.resume_submitted %>
</p>
<p>
  <b>Cover Letter ID:</b>
  <%= @job.cover_letter_id %><br/>
  Sent? <%= @job.cover_letter_submitted %>
</p>


<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
