<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Date:</b>
  <%= @event.date %>
</p>

<p>
  <b>Job:</b>
  <%= @event.job_id %>
</p>

<p>
  <b>Type:</b>
  <%= @event.type %>
</p>

<p>
  <b>Note:</b>
  <%= @event.note %>
</p>

<p>
  <b>User:</b>
  <%= @event.user_id %>
</p>

<p>
  <b>Completed:</b>
  <%= @event.completed %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', jobs_path %>
